.generic-comp .bg {
  background-image: url(./Assets-and-Screens/Assets/Background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

h2 {
  color: white;
  font-size: 60px;
  text-align: center;
  font-weight: 500;
}

.usr-pass-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  width: 100%;
  margin-bottom: 50px;
  margin-top: 90px;
}

.signup-caption {
  color: white;
  font-size: 26px;
  text-align: center;
  margin-top: 100px;
}

.signup-caption a {
  color: #ffe65e;
  text-decoration: none;
}

.signup-caption a:hover {
  text-decoration: underline;
}

input {
  border: none;
  border-bottom: 2px solid white;
  background: none;
  color: white;
  font-size: 20px;
  outline: none;
  width: 280px;
  margin-bottom: 40px;
}

input[type=file] {
  display: none;
}

input[type=file] + label.add-picture-label {
  color: white;
  background-color: rgba(100,100,100,0.5);
  padding: 50px 76px;
  width: 100px;
  text-align: center;
  border-radius: 5px;
  border: 2px solid #ffe65e;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 40px;
  cursor: pointer;
  transition: background-color 0.1s ease;
}

input[type=file] + label.add-picture-label:hover {
  background-color: rgba(100,100,100,0.7);
}

button {
  background-color: #ffe65e;
  font-weight: 500;
  border: none;
  border-radius: 100px;
  padding: 16px 90px;
  font-size: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.module-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.module-generic {
  width: 240px;
  height: 180px;
  border: 2px solid #ffe65e;
  border-radius: 5px;
  margin-bottom: 60px;
  transition: transform .1s ease;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
  background-color: rgba(255,255,255,0.5);
}

.module-header {
  text-align: center;
  background-color: #ffe65e;
  font-weight: 500;
  font-size: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.module-generic:hover {
  transform: scale(1.03);
}

.weather-icon {
  height: 60px;
  width: 80px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 10px;
  float: left;
}

.weather-temp {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  margin-top: 12px;
  line-height: 24px;
}

.weather-location {
  text-align: center;
  font-size: 24px;
  clear: both;
  font-weight: 500;
  margin-top: 26px;
}

.news-comp {
  padding: 12px;
  text-align: center;
}

.news-comp .news-title {
  font-weight: 500;
  margin-bottom: 10px;
  font-size: 14px;
}

.news-comp .news-desc {
  font-size: 12px;
}

::-webkit-input-placeholder {
  color: white;
}

::-moz-placeholder {
  color: white;
}

::-ms-input-placeholder {
  color: white;
}